* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF7F0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

header .logo img {
    width: auto;
    height: 10vh;
}

.navbar {
    padding: auto;
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar a {
    text-decoration: none;
    color: #A00412;
    padding: 8px 15px;
    font-size: 20px;
    display: flex;
    transition: 0.6s ease-in-out;
}

.navbar a:hover {
    text-decoration: underline;
    font-size: x-large;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fffbf6;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: #A00412;
    font-size: 1em;
    text-align: left;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header_icons {
    display: flex;
    gap: 7px;
    margin-right: 70px;
}

.header_icons img {
    transition: 0.9s ease-out;
}

.header_icons img:hover {
    transform: scale(1.2);
}

.footer {
    background-color: #A00412;
    color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 5px 18px;
    border-radius: 20px;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: nowrap;
}

.footer-section {
    flex: 1;
    min-width: 120px;
    margin: 0 10px;
    text-align: center;
}

.footer-logo {
    max-width: 120px;
    margin-bottom: 0;
}

.footer-section p {
    font-size: 0.8em;
    line-height: 1.2;
    margin: 5px 0;
    text-align: center;
}

.about a {
    font-size: 0.7em;
    color: #f5f5dc;
    text-decoration: none;
    margin-right: 25px;
}

.about a:hover {
    text-decoration: underline;
}

footer {
    bottom: 0;
}

.footer-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.footer-icons a img {
    width: 18px;
    height: 18px;
    transition: transform 0.3s;
}

.footer-icons a img:hover {
    transform: scale(1.2);
}

.footer-section.contact h2 {
    font-size: 1em;
    margin-bottom: 5px;
}

.footer-section.contact p {
    font-size: 0.8em;
    margin: 3px 0;
    text-align: center;
}

.footer-section.contact a {
    color: #f5f5dc;
    text-decoration: none;
}

.footer-section.contact a:hover {
    text-decoration: underline;
}

.footer-section.links h2 {
    font-size: 1em;
    margin-bottom: 5px;
}

.footer-section.links a {
    display: block;
    color: #f5f5dc;
    font-size: 0.8em;
    margin: 2px 0;
    text-decoration: none;
}

.footer-section.links a:hover {
    text-decoration: underline;
}

.footer-section.subscribe h2 {
    font-size: 1em;
    margin-bottom: 5px;
}

.footer-section.subscribe p {
    font-size: 0.8em;
    margin: 3px 0;
}

.footer-section.subscribe input[type="email"] {
    padding: 5px;
    font-size: 0.8em;
    border: none;
    border-radius: 20px;
    width: 100%;
    max-width: 180px;
    margin-top: 5px;
}

.footer-bottom {
    text-align: center;
    font-size: 0.75em;
    margin-top: 50px;

}

.footer-bottom a {
    color: #f5f5dc;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-content button {
    background-color: #f9f9f9;
    color: #A00412;
    border: none;
    padding: 6px 12px;
    font-size: 0.8rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

}

.footer-content button:hover {
    background-color: #A00412;
    color: #fff;
}

.div_1 button,
.div_4 button,
.footer-content button {
    z-index: 10;
    position: relative;
}

/*main menu style*/
h1 {
    color: #f5f5dc;
    background-color: #A00412;
    padding: 7px;
    text-align: center;
    font-size: 1em;
}

.main_menu {
    display: flex;
    flex-direction: row;
}

.categories_menu {
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    left: 20px;
    margin: 40px 0;
    margin-left: 20px;
}

.categories_menu img {
    height: 6vh;
    width: auto;
}

.categories_menu span:hover {
    font-size: 0.8em;
    color: #FAF7F0;
    background-color: #A00412;
    border-radius: 10px;
    padding: 3px 6px;
}

.categories_menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.categories_menu div span {
    color: #84121b;
    font-size: 10px;
    transition: 0.5s ease-in-out;
}

.contact_icons {
    display: flex;
    flex-direction: column;
    gap: 12em;
    right: 20px;
    margin: 40px 0;
    margin-right: 20px;
    cursor: pointer;
    transition: 1.2s;
}

.contact_icons img {
    height: 3vh;
    width: auto;
    transition: 0.5s ease-out;
}

.contact_icons img:hover {
    height: 5vh;
    width: auto;
    transition: 0.5s ease-in;
}

.contact_icons .child_contact_icons {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    margin: 5em 200px;
    padding: 30px;
}

.scroll_down {
    text-align: center;
    color: #fb5817;
    transition: .8s ease-in-out;
}

.scroll_down:hover {
    font-size: 2em;
}

.child_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.card {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    border-radius: 12px;
}

.card img {
    height: 25vh;
}

.card img:hover {
    transition: 0.6s ease-in;
}

.span_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin: 10px 0;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    color: #e34343;
}

.card p {
    font-size: 0.8em;
    color: #84121b;
}

.span_button span {
    font-size: 1.3em;
    color: #d83a47;
}

.span_button button {
    padding: 5px;
    font-size: 1em;
    background-color: #FAF7F0;
    color: #84121b;
    border: #84121b solid 0.5px;
    transition: 0.8s ease-in-out;

}

.span_button button:hover {
    background-color: #84121b;
    color: #f5f5dc;
    transition: 0.8s ease-in-out;
}

.button_view_all {
    text-align: right;
}

#view_all {
    width: 15%;
    background-color: #84121b;
    color: #f5f5dc;
    border: #0b0808 1px solid;
    padding: 8px;
    border-radius: 20px;
    transition: 0.8s ease-in-out;
    font-size: 0.7em;
}

#view_all:hover {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    background-color: #c71414;
    color: #f5f5dc;
    border-radius: 20px;
}

/*on click view all*/
.column_categoties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13em;
    margin: 40px 0;
    padding: 0;
}

.hidden_cards {
    display: none;
    transition: 1.5s ease-in-out;
}

.center_cards{
    margin: 0;
}
.main_column{
    display: flex;
    flex-direction: column;
}